
.elements {
    pointer-events: none;
    border: 1px solid rgb(115, 115, 115);
}

body {
    filter: invert(10%);
    /*background-color: #000;*/

    /*background: linear-gradient(to bottom, #020111 85%,#191621 100%);*/
    /*background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);*/
    /*background: linear-gradient(to bottom, #000000 50%, #00155c 100%);*/

    background-color: black;
    /*background-image:*/
    /*radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),*/
    /*radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),*/
    /*radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),*/
    /*radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);*/
    /*background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;*/
    /*background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/

    /*overflow: hidden;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 1000px;*/

    overflow: hidden;
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
    background: transparent;
}

.elements_child {
    background-color: #2f2f2f;
}

.subunit {
    fill: #dcdcdc;
}

.place,
.place-label {
    fill: #353636;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: 10px;*/
    pointer-events: none;
}

.subunit-boundary {
    fill: none;
    /*stroke: #777;*/
    stroke: #666666;
    /*stroke-width: 1px;*/
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
}

.subunit-label {
    /*fill: black;*/
    fill: #181818;
    fill-opacity: 1;
    font-size: 8px;
    /*font-weight: 300;*/
    text-anchor: middle;
}

.subunit_points {
    cursor: pointer;
    z-index: 999;
    pointer-events: all;
}

.boundary {
    fill: #040404;
    /*fill: #cccccc;*/
    /*stroke: black;*/
    stroke: #353636;
    stroke-width: 1px;
}

.hide {
    /*opacity: 0;*/
    display: none;
}

/*.hide, .leaflet-pane .leaflet-tile-pane{*/
/*color: #18b23d;*/
/*}*/

.side {
    display: none;
}

/*input*/
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    background: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #130C0E;
    position: relative;
    border: 3px solid #FFF;
    z-index: 2;
    cursor: pointer;
}

input:focus {
    outline: none;
}

/*time slider*/
.axis--grid .domain {
    /*fill: #ddd;*/
    stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
    stroke: #353636;
}

.axis--y .domain,
.tick text {
    /*fill: #353636;*/
}

.axis--grid .tick--minor line {
    stroke-opacity: .5;
}

.axis2,
.axis--y2 line {
    stroke: #8a8a8a;
    stroke-opacity: .5;
}

.axis,
.axis--chart {
    /*fill: #3f3f3f;*/
    fill: #353636;
    stroke-width: 0;
}

/*.stations, .stations svg {*/
/*position: absolute;*/
/*}*/

/*.stations svg {*/
/*width: 60px;*/
/*height: 20px;*/
/*padding-right: 100px;*/
/*font: 10px sans-serif;*/
/*}*/

/*.stations circle {*/
/*fill: brown;*/
/*stroke: black;*/
/*stroke-width: 1.5px;*/
/*}*/

.layer, .layer svg {
    position: absolute;
}

.layer svg {
    width: 60px;
    height: 60px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.button {
    background-color: #999a9a; /* Green */
    border: none;
    color: white;
    width: 150px;
    /*padding: 15px 32px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 12px;

    position: relative;
    top: 10px;
    left: 10px;
    z-index: 999;
    display: inline-block;
}

#textTitle {
    color: #7b7b7b;
}

#textTitle, .date, .location {
    font-size: smaller;
}

#searchLink {
    font-size: small;
}

#textTitle {
    /*width: 200px;*/
    /*color: white;*/
    position: relative;
    top: 180px;
    /*left: 60px;*/
    z-index: 99;
    margin-bottom: 40px;
    float: right;
    margin-right: 15px;
    overflow-x: hidden;
    max-width: 246px;
    width: 246px;
    text-align: left;
}

#dataImage {
    width: 350px;
    position: absolute;
    top: 280px;
    right: 15px;
    z-index: 999;

    float: right;
    /*margin-right: 15px;*/
    overflow-x: hidden;
    max-width: 246px;
}

.segLabel {
    color: #7b7b7b;
}

.pointCloud {
    /*height: 2px !important;*/
    /*width: 2px !important;*/
    border-radius: 50%;
    /*border: solid black 0.5px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*font-size: 500%;*/
    position: relative;
    /*box-shadow: inset -10px -10px 100px #000, 10px 10px 20px green, inset 0px 0px 10px green;*/

    /*-webkit-box-shadow:0 0 5px blue;*/
    /*-moz-box-shadow: 0 0 5px blue;*/
    /*box-shadow:0 0 2px #1891ff;*/

    /*display: inline-block;*/
    /*margin: 5%;*/
    background-color: #00b438;
    cursor: pointer;
}

/*.pointCloud::after {*/
/*background-color: rgba(255, 255, 255, 0.3);*/
/*content: '';*/
/*height: 45%;*/
/*width: 12%;*/
/*position: absolute;*/
/*top: 4%;*/
/*left: 15%;*/
/*border-radius: 50%;*/
/*transform: rotate(40deg);*/
/*}*/

.green {
    background-color: green;
}

.green_BG {
    /*background-color: #00b438 !important;*/
    background-color: #ed7019 !important;
    fill: #ed7019 !important;
}

.no_BG {
    /*background-color: #00b438 !important;*/
    background-color: #ed7019 !important;
}

.bar {
    fill: steelblue;
}

.select {
    position: absolute;
    top: 2%;
    /*left: 100%;*/
}