
.axis--y .domain, .tick text {
    fill: #7c7c7c !important;
    font-size: 120%;
}

.animateButton {
    display: none;
}

.select {
    display: none;
}

.dg.ac {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 9999;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.panes-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.left-pane {
    width: 45%;
    /*background: #ccc;*/
}

.panes-separator {
    width: 1%;
    background: #636363;
    position: relative;
    cursor: col-resize;
}

.right-pane {
    flex: auto;
    /*background: #eee;*/
}

.controls-panel {
    width: 12%;
}

.panes-container,
.panes-separator,
.left-pane,
.right-pane {
    margin: 0;
    padding: 0;
    height: 100%;
}

#textTitle {
    position: absolute;
    top: 195px;
    right: 15px;
    z-index: 999;
    float: right;
    margin: 0px;
}

#dataImage {
    top: 290px;
}

#timeLine {
    top: auto;
    left: auto;
}

.handle.handle--n{
    cursor: ew-resize !important;
}

.handle.handle--n:target{
    cursor: ew-resize !important;
}

.handle.handle--s{
    cursor: ew-resize !important;
}

.handle.handle--s:target{
    cursor: ew-resize !important;
}